{% extends "layout.html" %}

{% block content %}

<style>

button { margin-left: 10px; padding-left: 10px; padding-right: 10px; float:left; }
#webgrab_configuration_id {float: left;}
#report { display: none; }

{% if isRunning %}

#runAll { display: none; }
#loader { display: block; }
#regenerateP { display: none; }

{% else %}
#cancelGrabbing { display: none; }
{% endif %}

svg {
    max-width: 3em;
    border-radius: 3px;
    /*box-shadow: 2px 2px 5px #000;*/
    background: #fff;
    fill: none;
    stroke: #0026ff;
    stroke-linecap: round;
    stroke-width: 8%;
    float:left;
    display: none;

}

use {
  stroke: #fff;
  animation: a 2s linear infinite
}

@keyframes a { to { stroke-dashoffset: 0px } }

textarea#log
{
  max-width: 100%;
  background-color: #f5f5f5;
  height: 300px;
  overflow-y: scroll;
  resize: none;
  font-family: Courier;
  font-size: 13px;
}
</style>

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Currently there are {{ nChannels }} enabled channels. Last EPG grabbing was on {{ lastGrabbingTime }}.</p>

<p>Last used <a href="/files/wgmulti.config.json" target="_blank">wgmulti.config.json</a>
<br />
</p>

Select WebGrab options and click Run:
<br />
<br />
<select name="webgrab_configuration_id" id="webgrab_configuration_id">
{% for scheduler in schedulers %}
  <option value="{{ scheduler.id }}">{{ scheduler.name }}</option>
{% endfor %}
</select>

<button id="runAll">Run manually</button> 
<button id="cancelGrabbing">Cancel</button> 

<svg viewBox="-2000 -1000 4000 2000" id="loader">
  <path id="inf" d="M354-354A500 500 0 1 1 354 354L-354-354A500 500 0 1 0-354 354z"></path>
  <use xlink:href="#inf" stroke-dasharray="1570 5143" stroke-dashoffset="6713px"></use>
</svg>

<br />
<br />
<p id="regenerateP">Regenerate EPG (combine all channel guides in case of corrections):</p>
<button id="regenerateEpg">Regenerate</button>
<br />
<br />

Status:
<br />
<pre id="status">
{% if is_running %}Running...{% else %}Not running.{% endif %}
</pre>

Processes:
<br />
<pre id="processes">{% if is_running %}Getting list of processes...{% else %}None{% endif %}</pre>

Log:
<br />
<textarea id="log" rows="10" cols="300">{{ log_content }}</textarea>
<br />

{% endblock %}

{% block scripts %}
  <script>
$( document ).ready(function() {
  var logHandle;
  var loader = $("#loader");
  var process = "wgmulti.exe";
  var processes = $("#processes");
  var status = $("#status");
  var log = $("#log");
  var loader = $("#loader");
  var runAll = $("#runAll");
  var regenerateEpg = $("#regenerateEpg");
  var regenerateP = $("regenerateP");
  var cancelGrabbing = $("#cancelGrabing");
  var reportRetrieved = false;

  setInterval(checkGrabbingStatus, 5000);
  log.scrollTop(log[0].scrollHeight);

  function getReport() {
    $.ajax({
      url: "grabbing/epg/report",
      dataType: "json",
      success: function (data) {
        status.empty();
        if (data.status) {
          status.append("Last grabbing report:<br>Total grabbed channels: " + data.report.total + "<br>");
          status.append("Channels with EPG: " + data.report.channelsWithEpg + "<br>");
          status.append("Channels without EPG: " + data.report.channelsWithoutEpg + "<br>");
          status.append("Generation time: " + data.report.generationTime + "<br>");
          status.append("Generated on: " + data.report.generatedOn + "<br>");
          status.append("EPG file size: " + data.report.fileSize + " (bytes) <br>");
          status.append("EPG file md5 hash: " + data.report.md5hash + "<br>");
        } else {
          status.append("Error: " + data.details);
        }
        reportRetrieved = true;
      }
    });
  }

  function checkGrabbingStatus() {
    $.ajax({
      url: 'grabbing/run/status/' + process,
      dataType: 'json',
      success: function (data) {
        if (data.isRunning) 
        {
           runAll.attr("disabled", true);
           processes.text(data.details);
           cancelGrabbing.show();
           loader.show();
        } 
        else 
        {
          runAll.attr("disabled", false);
          process = 'wgmulti.exe';
          cancelGrabbing.hide();
          loader.hide();
          regenerateP.show();
          clearInterval(logHandle);
          //if (!reportRetrieved) {
          //  getReport();
        }
      }
    });
  }

  $("#runAll").click(function (e) {
    $(this).attr("disabled", true);
    status.empty();
    processes.empty();
    log.empty();
    logHandle = setTimeout(setInterval(getLog, 3000), 5000);
    selectEl = document.getElementById('webgrab_configuration_id');
    id = selectEl.options[selectEl.selectedIndex].value;
    regenerateEpg.hide();
    $.ajax({
      url: "grabbing/run/all/" + id,
      dataType: 'json',
      success: function (data) 
      {
        let status = $('#status');
        status.append(data.config.message + '<br>');
        status.append(data.siteinis.message + '<br>');
        status.append(data.settings.message + '<br>');
        status.append(data.grabbing.message + '<br>');
                
        process = data.grabbing.processId;

        if (data.grabbing.status) {
          cancelGrabbing.show();
          loader.show();
        }
        else 
        {
          //loader.hide();
          //cancelGrabbing.hide();
          //regenerateEpg.show();
        }
      }
    });
  });

   regenerateEpg.click(function (e) {
        $(this).attr("disabled", true);
        loader.show();
        status.empty();
        processes.empty();
        $.ajax({
            url: "/grabbing/epg/regenerate",
            dataType: 'json',
            success: function (data) 
            {
                status.append(data.details);
                loader.hide();
                regenerateEpg.attr("disabled", false);
            },
            error: function() {
              status.append(data.details)
              regenerateEpg.attr("disabled", false);
            }
        });
    });

    var getLog = function() {
      $.ajax({
        type: 'GET',
        url: "{% url 'get-log' '' %}"
      })
      .done(function(data) {
      })
      .always(function(data) {
        var textarea = $("#log");
        textarea.html(data)
        textarea.scrollTop(textarea[0].scrollHeight);
      })
      .fail(function(data) {
      });
    };
});

  </script>
{% endblock %}
