{% extends "layout.html" %}

{% block content %}

<style>
#log
{
  max-width: 100%;
  background-color: #f5f5f5;
  height: 300px;
  overflow-y: scroll;
  resize: none;
  font-family: Courier;
  font-size: 13px;
}
</style>

<h1>{{ channel.name }}</h1>

<a href="{% url 'admin:epgapp_channel_change' channel.id %}">Edit channel details</a> | 
<a href="{% url 'grab' channel.slug %}">Run grabber</a> |

<hr />
{# #}<span>&lt;channel site="{{channel.siteinis.all.0.name}}" site_id="{{channel.siteinis.all.0.site_id}}" update="{{channel.update}}" xmltv_id="{{channel.xmltv_id}}"&gt;{{ channel.name }}&lt;/channel&gt; </span>

<br />
<br />
Last EPG grabbed for this channel: 
<br />
<br />
<button id="editEpg">Edit</button>
<button id="saveEpg" style="display:none;">Save</button>
<button id="cancelEpg" style="display: none;">Cancel</button>
<br />
<br />
<textarea id="log" rows="10" cols="300" readonly>{{content}}</textarea>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {

  var editBtn = $("#editEpg");
  var saveBtn = $("#saveEpg");
  var cancelBtn = $("#cancelEpg");
  var textarea = $("#log");

  editBtn.click(function(){
    $(this).hide();
    saveBtn.show();
    cancelBtn.show();
    textarea.attr('readonly', false);
  });


  cancelBtn.click(function() {
    $(this).hide();
    saveBtn.hide();
    editBtn.show();
    textarea.attr('readonly', true);
  });

  saveBtn.click(function(){
    alert("Save clicked");
  });

});
</script>
{% endblock %}
