{% extends "layout.html" %}

{% block content %}

<style>
#log
{
  max-width: 100%;
  background-color: #f5f5f5;
  height: 300px;
  overflow-y: scroll;
  resize: none;
  font-family: Courier;
  font-size: 13px;
}
</style>

<h1>{{ channel.name }}</h1>

<a href="{% url 'admin:epgapp_channel_change' channel.id %}">Edit channel details</a> | 
<a href="{% url 'grab' channel.slug %}">Run grabber</a> |

<hr />
{# #}<span>&lt;channel site="{{channel.siteinis.all.0.name}}" site_id="{{channel.siteinis.all.0.site_id}}" update="{{channel.update}}" xmltv_id="{{channel.xmltv_id}}"&gt;{{ channel.name }}&lt;/channel&gt; </span>

<br />
<br />
Last EPG grabbed for this channel: 
<br />
<br />

<form method="post" action="epg/save" id="saveEpgForm">
  {% csrf_token %}
  <input type="hidden" value="{{xmltv_id}}" name="xmltv_id" />
  <button id="editEpg">Edit</button>
  <input type="submit" id="saveEpg" style="display:none;" value="Save" />
  <button id="cancelEpg" style="display: none;">Cancel</button>
  <br />
  <br />
  <textarea name="content" id="log" rows="10" cols="300" readonly>{{content}}</textarea>
</form>

{% endblock %}

{% block scripts %}
<script>
$(document).ready(function () {

  var editBtn = $("#editEpg");
  var saveBtn = $("#saveEpg");
  var cancelBtn = $("#cancelEpg");
  var textarea = $("#log");
  var saveEpgForm = $("#saveEpgForm");

  editBtn.click(function(e){
    e.preventDefault();
    $(this).hide();
    saveBtn.show();
    saveBtn.attr("disabled", false);
    cancelBtn.show();
    textarea.attr('readonly', false);
  });

  cancelBtn.click(function(e) {
    e.preventDefault();
    $(this).hide();
    saveBtn.hide();
    editBtn.show();
    textarea.attr('readonly', true);
  });

  saveEpgForm.submit( function(e) {
    e.preventDefault();
    saveBtn.attr("disabled", true);
    $.ajax({
      url: saveEpgForm.attr("action"),
      type: saveEpgForm.attr("method"),
      data: saveEpgForm.serialize(),
      dataType: 'json',
      success: function (data) {
        if (data.status) {
          $('#status').html('Successfully saved');
        } else {
          $('#status').html('Error during saving!<br />' + data.details);
          clearTimeout(logHandle);
        }
        saveBtn.hide();
        cancelBtn.hide();
        editBtn.show();
        textarea.attr("readonly", true);
      }
    })
    .fail(function (data) {
      $('#status').html(data.responseText);
      clearTimeout(logHandle);
    });
  });
});
</script>
{% endblock %}
