{% extends "layout.html" %}

{% block content %}

<style>
#startTest
{
  float: left;
}

svg
{
  max-width: 3em;
  border-radius: 3px;
  /*box-shadow: 2px 2px 5px #000;
  */background: #fff;
  fill: none;
  stroke: #0026ff;
  stroke-linecap: round;
  stroke-width: 8%;
  float:left;
  display: none;
}

use
{
  stroke: #fff;
  animation: a 2s linear infinite
}

@keyframes a
{
  to
  {
    stroke-dashoffset: 0px
  }
}

textarea#log
{
  max-width: 100%;
  background-color: #f5f5f5;
  height: 300px;
  overflow-y: scroll;
  resize: none;
  font-family: Courier;
  font-size: 13px;
}
</style>

<h1>{{channel.name}}</h1>

<h3>Available siteinis:</h3>

<form id="grabChannelForm">
    <input type="hidden" name="channel_name" id="channel_name" value="{{channel.name}}" />
    <input type="hidden" name="xmltv_id" id="xmltv_id" value="{{channel.xmltv_id}}" />
    <!--input type="hidden" name="site_id" id="site_id" value="" /-->
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Siteini</th>
                <th>Site_id</th>
                <th></th>
            </tr>
        </thead>
        {% for siteini in siteinis %}
        <tr>
            <td><input type="radio" name="siteini" value="{{siteini.siteini.id}}|||{{siteini.site_id}}|||{{siteini.siteini.name}}" /> {{siteini.siteini.name}}</td>
            <td id="siteini_id_{{siteini.siteini.id}}"><!--a href="{{ siteini.siteini.get_absolute_url }}">{{ siteini.siteini.name }}</a--> {{siteini.site_id}}</td>
            <!--td>{{siteini.site_id}} <a href="{{ siteini.siteini.get_absolute_url }}">{{ siteini.siteini.name }}</a></td-->
        </tr>
        {% empty %}
        <tr><td>No siteinis definied.</td></tr>
        {% endfor %}

        <tr>
            <td>Channel update type: </td>
            <td colspan="2">
                <select name="update" id="update">
                    {% for type in update_types %}
                    <option value="{{ type.0 }}">{{ type.1 }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>WebGrab configuration: </td>
            <td>
                <select name="webgrab_configuration_id" id="webgrab_configuration_id">
                    {% for config in configs %}
                    <option value="{{ config.id }}">{{ config.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><a id="webgrab_configuration_edit_link" href="{% url 'admin:epgapp_settings_change' configs.0.id %}">Edit</a> | <a id="webgrab_configuration_add_link" href="{% url 'admin:epgapp_settings_add' %}">Add</a></td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="startTest" type="submit" value="Start" />
                <svg viewBox="-2000 -1000 4000 2000" id="loader">
                    <path id="inf" d="M354-354A500 500 0 1 1 354 354L-354-354A500 500 0 1 0-354 354z"></path>
                    <use xlink:href="#inf" stroke-dasharray="1570 5143" stroke-dashoffset="6713px"></use>
                </svg>
            </td>
        </tr>
    </table>
</form>

<br />

STATUS:
<pre id="status">
</pre>

<textarea id="log" rows="10" cols="300"></textarea>

<br />
<br />
EPG:
<pre id="content">
</pre>

    {% endblock %}

    {% block scripts %}
    <script>
    document.getElementsByName("siteini")[0].checked = true;
    document.getElementById("update").selectedIndex = 1;
        
    $(document).ready(function () {
        var processId = 0;
        var loader = $("#loader");
        var log = $("#log");
        var status = $("#status");

        log.scrollTop(log[0].scrollHeight);

        $("#grabChannelForm").submit(function (event) {
                var form = $(this);
                $("#startTest").attr('disabled', true);
                //$("#cancelTest").show();
                event.preventDefault();
                loader.show();
                //var a = $("#logFileUrl");

                $.ajax({
                    type: 'POST',
                    url: "/run/webgrab/channel/", //{#% url 'run-siteini-test' %}",
                    data: form.serialize(),
                    dataType: 'json'
                })
                    .done(function (data) {
                        loader.hide();
                        status.html("Status: " + data.message);
                        processId = data.processId;
                        if (data.details)
                            $('#content').html(data.details);
                        statusHandle = setInterval(checkGrabbingStatus, 5000);
                        setTimeout(logHandle = setInterval(getLog, 3000), 3000);
                    })
                    .fail(function (data) {
                        loader.hide();
                        status.html(data.responseText);
                        $("#startTest").attr('disabled', false);
                        loader.style.display = "none";
                    });
            });

            var checkGrabbingStatus = function () {
                $.ajax({
                    url: '/grabbing/run/status/' + processId,
                    dataType: 'json',
                    success: function (data) {
                        if (data.isRunning) {
                            status.html(data.details);
                        } else {
                            status.html('Status: Not running!');
                            $("#startTest").attr("disabled", false);
                            clearTimeout(statusHandle);
                            clearTimeout(logHandle);
                            getEpgData();
                        }
                    }
                })
                .fail(function (data) {
                   status.html(data.responseText);
                   $("#startTest").attr('disabled', false);
                   clearTimeout(statusHandle);
                   clearTimeout(logHandle);
                });
            }


            var getEpgData = function () {

                $.ajax({
                    url: "/epg/channel/" + $("#xmltv_id").val(),
                    dataType: "json",
                    success: function (data) {
                        if (data.status) {
                            $("#content").html(data.raw_epg);
                            status.html('EPG generated on: ' + data.datatime);
                        } else {
                            $("#content").html(data.details);
                        }
                    }
                })
                .fail(function (data) {
                    $("#status").html(data.responseText);
                    $("#startTest").attr('disabled', false);
                })
                .always(function (data) {
                    loader.hide();
                    //$("#cancelTest").hide();
                });
            }

    var getLog = function() {
      $.ajax({
        type: 'GET',
        url: "/logs/" + $("input[name=siteini]:checked").val().split("|||")[2]
      })
      .done(function(data) {
      })
      .always(function(data) {
        var textarea = $("#log");
        textarea.html(data)
        textarea.scrollTop(textarea[0].scrollHeight);
      })
      .fail(function(data) {
      });
    };

        });

    </script>
    {% endblock %}
