{% extends "layout.html" %}

{% block content %}

<h1>Siteinis</h1>
<ul>
{% for o in object_list %}
    <li><a href="{{ o.get_absolute_url }}">{{ o.name }}</a></li>
{% empty %}
    <li>No siteinis yet.</li>
{% endfor %}
</ul>
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'siteini-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'siteini-list' %}?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock %}
