{% extends "layout.html" %}

{% block content %}

<h1>Siteinis</h1>
<form id="searchform" action="{% url 'siteini-list' %}" method="GET" accept-charset="utf-8">
    <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
    <input class="" type="submit" value="Submit"/>
    <!--i class="fa fa-search"></i!-->
</form>
<br />


<table class="maintable">
    <thead>
        <tr>
            <th>Siteini name</th>
            <th>Edit siteini content</th>
            <th>Test grabbing</th>
            <th>Created on</th>
            <th>Modified on</th>
        </tr>
    </thead>
    <tbody>

    {% for o in object_list %}
        {% if o.enabled %}
        <tr>
            <td><a href="{{ o.get_absolute_url }}">{{ o.name }}</a></td>
            <td><a href="{% url 'admin:epgapp_siteini_change' o.id %}">Edit</a></td>
            <td><a href="{% url 'siteini-test' %}#{{o.name}}">Test</a></td>
            <td>{{ o.created }}</td>
            <td>{{ o.modified }}</td>
        </tr>
        {% endif %}
    {% empty %}
        <tr><td colspan="3">No stats yet.</td></tr>
    {% endfor %}

    </tbody>
</table>

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{% url 'siteini-list' %}?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="{% url 'siteini-list' %}?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
{% endif %}

{% endblock %}
