{% extends "layout.html" %}

{% block content %}

<style>
#startTest 
{
  float: left;
}

svg 
{
  max-width: 3em;
  border-radius: 3px;
  /*box-shadow: 2px 2px 5px #000;
  */background: #fff;
  fill: none;
  stroke: #0026ff;
  stroke-linecap: round;
  stroke-width: 8%;
  float:left;
  display: none;
}

use 
{
  stroke: #fff;
  animation: a 2s linear infinite
}

@keyframes a 
{ 
  to 
  { 
    stroke-dashoffset: 0px 
  } 
}

textarea#log 
{
  max-width: 100%;
  background-color: #f5f5f5; 
  height: 300px;
  overflow-y: scroll;
  resize: none;
  font-family: Courier;
  font-size: 13px;
}
</style>

<h1>Test siteini {{ slug }}</h1>

<br />
<br />
<br />
<h4>Test the <b></b> siteini:</h4>


<table>
  <form method="POST" id="testSiteini">
    {% csrf_token %}
        <tr>
            <td>Siteini: </td>
            <td>
                <select name="siteini_id" id="siteini_id">
                {% for siteini in siteinis %}
                    {% if siteini.name == slug %}
                    <option value="{{ siteini.id }}" selected>{{ siteini.name }}</option>
                    {% else %}
                    <option value="{{ siteini.id }}">{{ siteini.name }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
            <td><a id="siteini_edit_link" href="{% url 'admin:epgapp_siteini_change' siteinis.0.id %}">Edit</a> | <a id="siteini_add_link" href="{% url 'admin:epgapp_siteini_add' %}">Add</a></td>
        </tr>
        <tr>
            <td>Site id: </td>
            <td colspan="2"><input type="text" name="site_id" value="" /></td>
        </tr>
        <tr>
            <td>Channel name: </td>
            <td colspan="2"><input type="text" name="channel_name" value="" /></td>
        </tr>
        <tr>
            <td>Channel xmltv_id: </td>
            <td colspan="2"><input type="text" name="xmltv_id" value="" /></td>
        </tr>
        <tr>
            <td>Channel update type: </td>
            <td colspan="2">
                <select name="update" id="update">
                {% for type in update_types %}
                    <option value="{{ type.0 }}">{{ type.1 }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>WebGrab configuration: </td>
            <td>
                <select name="webgrab_configuration_id" id="webgrab_configuration_id">
                {% for config in configs %}
                    <option value="{{ config.id }}">{{ config.name }}</option>
                {% endfor %}
                </select>
            </td>
            <td><a id="webgrab_configuration_edit_link" href="{% url 'admin:epgapp_settings_change' configs.0.id %}">Edit</a> | <a id="webgrab_configuration_add_link" href="{% url 'admin:epgapp_settings_add' %}">Add</a></td>
        </tr>
        <tr>
            <td colspan="3">
                <br />
                <input id="startTest" type="submit" value="Start" />
                <button id="cancelTest" style="display:none;">Cancel</button>
                <svg viewBox="-2000 -1000 4000 2000" id="loader">
                  <path id="inf" d="M354-354A500 500 0 1 1 354 354L-354-354A500 500 0 1 0-354 354z"></path>
                  <use xlink:href="#inf" stroke-dasharray="1570 5143" stroke-dashoffset="6713px"></use>
                </svg>

            </td>
        </tr>
</form>
    </table>

<br />

STATUS:
<pre id="status">
</pre>

LOG: <a id="logFileUrl" href="" style="display:none;" target="_blank">Log from last test</a>
<br />
<textarea id="log" rows="10" cols="300"></textarea>

<br />
<br />
EPG:
<pre id="content">
</pre>


{% endblock %}

{% block scripts %}
<script>

var dropdownEl = document.getElementById("siteini_id");
var linkEl = document.getElementById("siteini_edit_link");
var siteini_name = ""; 
var logHandle;
var statusHandle;

// Set default update type
document.getElementById("update").selectedIndex = 1;

// Function to change the "Edit" link url as per the dropdown selection

function updateHrefFromDropdownSelection(dropdownEl, linkEl) {
  let value = dropdownEl.options[dropdownEl.selectedIndex].value;  
  let new_href = linkEl.href.replace(/\d/, value);
  linkEl.href = new_href;
}


// Read any hash value in URL and select the dropdown value automatically

if (window.location.hash) {
  // Update siteini name if it's provided in URL hash
  siteini_name = window.location.hash.substring(1);
  for (i=0; i <= dropdownEl.options.length; i++) {
    if (dropdownEl.options[i].innerHTML == siteini_name) {
      dropdownEl.selectedIndex = i;
      break;
    }
  }
  updateHrefFromDropdownSelection(dropdownEl, linkEl);
}

     
$(document).ready(function () {
        var processId = 0;


        var getEpgData = function () {
            let selectEl = document.getElementById('siteini_id');
            let siteini = selectEl.options[selectEl.selectedIndex].innerHTML;
            
            $.ajax({
                url: "/grabbing/epg/raw/" + siteini_name,
                dataType: "json",
                success: function (data) {
                    if (data.status) {
                        $('#content').html(data.raw_epg);
                        $('#status').html('EPG generated on: ' + data.datatime);
                    } else {
                        $('#content').html(data.details);
                    }
                }
            })
            .fail(function (data) {
                $('#status').html(data.responseText);
                $("#startTest").attr('disabled', false);
            })
            .always(function (data) {
                $('#loader').hide();
                //loader.style.display = "none";
                $("#cancelTest").hide();
            });
        }


        var checkGrabbingStatus = function () {
            $.ajax({
                url: '/grabbing/run/status/' + processId,
                dataType: 'json',
                success: function (data) {
                    if (data.isRunning) {
                        $('#status').html('Status: Running...');
                    } else {
                        $('#status').html('Status: Not running!');
                        $("#startTest").attr("disabled", false);
                        clearTimeout(statusHandle);
                        clearTimeout(logHandle);
                        getEpgData();
                    }
                }
            })
            .fail(function (data) {
                $('#status').html(data.responseText);
                $("#startTest").attr('disabled', false);
                clearTimeout(statusHandle);
                clearTimeout(logHandle);
            });
        }

        $("#siteini_id").change(function () {
            updateHrefFromDropdownSelection(this, document.getElementById("siteini_edit_link"));
        });

        $("#webgrab_configuration_id").change(function () {
            updateHrefFromDropdownSelection(this, document.getElementById("webgrab_configuration_edit_link"));
        });

        $("#testSiteini").submit(function (event) {
            var form = $(this);
            $("#startTest").attr('disabled', true);
            $("#cancelTest").show();
            event.preventDefault();
            var loader = $("#loader");
            loader.show();
            var a = $("#logFileUrl");
            // Update siteini name from selected dropdown
            siteini_name = $("#siteini_id :selected").text();
            a.attr("href", '/grabbing/epg/log/' + siteini_name);
            a.show();

            $.ajax({
                type: 'POST',
                url: "run/", //{#% url 'run-siteini-test' %}",
                data: form.serialize(),
                dataType: 'json'
            })
            .done(function(data) {
                $('#status').html('Status: ' + data.message);
                processId = data.processId;
                if (data.details)
                    $('#content').html(data.details);
                statusHandle = setInterval(checkGrabbingStatus, 5000);
                setTimeout(logHandle = setInterval(getLog, 3000), 3000);
            })
            .fail(function(data) {
                $('#status').html(data.responseText);
                $("#startTest").attr('disabled', false);
                loader.style.display = "none";
            });

        });

        $("#cancelTest").click(function (event) {
            $.ajax({
                type: 'GET',
                url: "/grabbing/cancel/" + processId,
                dataType: 'json'
            })
            .done(function(data) {

            })
            .always(function(data) {
              $("#status").html(data.details)
              if (data.status) {
                $("#startTest").attr('disabled', false);
                $("#cancelTest").hide();
              }             
            })
            .fail(function(data) {
                $('#status').html(data.details);
                //$("#startTest").attr('disabled', false);
                //loader.style.display = "none";
            });
        });

        var getLog = function() {
            $.ajax({
                type: 'GET',
                url: "/grabbing/epg/log/" + siteini_name
            })
            .done(function(data) {
            })
            .always(function(data) {
               var textarea = $("#log");
               textarea.html(data)  
               textarea.scrollTop(textarea[0].scrollHeight);
            })
            .fail(function(data) {
            });

        };

    });
</script>
{% endblock %}
